@import "@/variables.scss";

.title {
  user-select: none;
  cursor: default;
  font-size: 120px;
  font-weight: 300;
  margin: 0;

  .letter {
    &.colored {
      color: $carnationPinkColor;
    }
  }
}
