@import "@/variables.scss";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .calendarIcon {
    background: none;
    border: none;
    cursor: pointer;
    .calendar {
      width: 80%;
      height: 80%;
    }
  }
  .calendarContainer {
    position: absolute;
    width: 325px;
    height: 370px;
    top: 50px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid $carnationPinkColor;
    box-shadow: 0 0 10px $carnationPinkColor;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(8, 40px);
    grid-auto-flow: dense;

    .monthSelect {
      grid-column: 1 / -1;
      display: flex;
      justify-self: flex-end;

      .monthButton {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;

        .month {
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    .monthSelectionHeader {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;
      padding: 0 10px;

      .monthContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .monthButton {
          color: red;
        }
      }

      .monthButton {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;
      }
    }
    .weekDay {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.today {
        color: $carnationPinkColor;
      }

      &.selected {
        background-color: $blueColor;
        color: $lightBlueColor;
        border-radius: 25px;
      }
    }

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.between {
        border-radius: 0% !important;
        background-color: $blueColor;
        color: $lightBlueColor;
      }
      &.today {
        background-color: $carnationPinkColor;
        border-radius: 50%;
        color: $lightBlueColor;
      }
      &.selectedLeft {
        border-radius: 50% 0 0 50% !important;
        background-color: $blueColor;
        color: $lightBlueColor;
      }
      &.selectedRight {
        border-radius: 0 50% 50% 0 !important;
        background-color: $blueColor;
        color: $lightBlueColor;
      }
      &.selected {
        background-color: $blueColor;
        border-radius: 50%;
        color: $lightBlueColor;
      }
      &.selectedBoth {
        background-color: $blueColor;
        border-radius: 50%;
        color: $lightBlueColor;
        border: 1px solid $carnationPinkColor;
        box-shadow: 0 0 10px $carnationPinkColor;
      }
    }
  }
}
