@import "@/variables.scss";

.container {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  .label {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid $blueColor;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      user-select: none;
      width: 112px;
      height: 112px;
    }
    .editBox {
      position: absolute;
      width: 38px;
      height: 38px;
      top: 0;
      right: 0;
      background-color: white;
      border-radius: 50%;
      border: 1px solid $blueColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: $carnationPinkColor;
      }
    }
  }
  .inputContainer {
    user-select: none;
    display: flex;
    flex-direction: column;
    .inputName {
      border: none;
      border-bottom: 1px solid $blueColor;
      width: 400px;
      font-size: 20px;
      line-height: 2.15;
      &:focus {
        outline: none;
        border-bottom: 2px solid $blueColor;
      }
  }
  }
  .inputAvatar {
    display: none;
  }
}
